Package: coleting-commserve
Version: 1.0
Section: base
Priority: optional
Architecture: all
Maintainer: Marcos <marcos@example.com>
Description: Paquete Commserve para el TFC. Instala Promtail, configura Grafana, y gestiona claves SSH.
Depends: sudo, openssh-server, curl, gnupg, apt-transport-https, software-properties-common, sshpass, debconf (>= 0.5) | debconf-2.0
